{% extends 'base.html' %}
{% load static %}
{% block title %}
    博客列表
{% endblock %}
{% block article_active %}
    active
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-9">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        {% block list_title %}
                            {% if request.user.is_authenticated %}
                                <button type="button" class="btn btn-warning btn-lg" style="float: right">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    <a href="{% url 'profile' request.user.username %}"
                                       style="font-size: 20px;text-decoration: none">{{ request.user.username }}</a>
                                </button>

                            {% else %}
                                <p>不存在</p>
                            {% endif %}
                            <h3>博客列表(共有{{ article_count }}篇)</h3>
                        {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block list %}
                            {% if article_count %}
                                {% for article in articles %}
                                    <div class="article-item">
                                        <h3><a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a>
                                        </h3>
                                        <span class="glyphicon glyphicon-time list-time" aria-hidden="true">
                                        {{ article.last_update_time|date:"Y-m-d" }}
                                    </span>
                                        <span class="label label-primary read-num">浏览{{ article.readed_nums }}次</span>
                                        <br><br>
                                        <p>{{ article.content|striptags|truncatechars:120|safe }}</p>
                                        <!--过滤HTML标签列表中只取前60个字符显示-->
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h3>暂无文章，敬请期待！</h3>
                            {% endif %}
                        {% endblock %}

                    </div>
                </div>
                <div>
                    <nav aria-label="..." class="pagination">
                        <ul class="pagination pagination-lg" style="cursor: pointer">
                            {% if articles.has_previous %}
                                <li>
                                    <span>
                                        <a href="?page={{ articles.previous_page_number }}">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </span>
                                </li>
                            {% else %}
                                <li class="disabled">
                                <span>
                                    <span aria-hidden="true">&laquo;</span>
                                </span>
                                </li>
                            {% endif %}
                            {% for page_num in articles.paginator.page_range %}
                                {% if page_num == articles.number %}
                                    <li class="active">
                                        <a href="?page={{ page_num }}"><span>{{ page_num }}</span></a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="?page={{ page_num }}"><span>{{ page_num }}</span></a>
                                    </li>
                                {% endif %}

                            {% endfor %}
                            {% if articles.has_next %}
                                <li>
                                    <span>
                                        <a href="?page={{ articles.next_page_number }}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </span>
                                </li>
                            {% else %}
                                <li class="disabled">
                            <span>
                                <span aria-hidden="true">&raquo;</span>
                            </span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="hidden-xs col-sm-3 col-md-4 col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4>博客分类</h4></div>
                    <div class="panel-body">
                        <ul class="article-types">
                            {% for label in all_labels %}
                                <span class="glyphicon glyphicon-tags"></span>&nbsp;
                                <li style="font-size: 18px">
                                    <a href="{% url 'blog:articles_with_type' label.type_name %}">
                                        {{ label.type_name }}&nbsp;<span
                                            class="label label-warning">&nbsp;{{ label.count }}</span>
                                    </a>
                                </li>
                                <br>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="hidden-xs col-sm-3 col-md-4 col-lg-3">
                <div class="panel panel-success">
                    <div class="panel-heading"><h4>日期归档</h4></div>
                    <div class="panel-body">
                        <ul class="article_date">
                            {% for Adate in articles_date %}
                                <span class="glyphicon glyphicon-calendar"></span>&nbsp;
                                <li style="font-size: 18px">
                                    <a href="{% url 'blog:articles_with_date' Adate.year Adate.month %}">
                                        {{ Adate|date:"Y年m月" }}
                                    </a>
                                </li>
                                <br>
                            {% empty %}
                                <li>暂无归档</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
