{% load static %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="coding-kai的个人博客">
    <meta name="description" content="分享自己学到的一些程序开发技术">
    <!--自适应响应式布局-->
    <title>{% block title %}{% endblock %}|@coding-kai</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" sizes="any">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block stylesheet_extended %}
        <!--css扩展-->
    {% endblock %}
</head>
<body>
{% block content %}
    <!--页面内容-->
{% endblock %}
{% block script_extended %}
    <!--script扩展-->
{% endblock %}
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>